# Build outputs
build/
dist/

# Python
*.egg-info/
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.python-version

# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*~
.idea/
.vscode/

# Local testing
.local/
